.homeWrapper-about {
  width: 100%;
  position: relative;
  background-color: $BackgroundColor-second;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 80px;
  //     z-index: 2;
  //     background-color: rgba(17, 40, 56, 0.6);
  //   }
}

.about-thumbnail-section {
  width: 100%;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // text-align: center;
  position: relative;
  letter-spacing: 1.1px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(1, 10, 53, 0.4);
  }

  .about-thumbnail-image {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    // z-index: 1;

    img {
      // width: 100%;
      // height: 100%;
      // object-fit: cover;
      object-fit: cover;
      width: 100vw;
      height: 70vh;
      position: fixed;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      z-index: 0;
    }
  }
}

.about-thumbnail-content {
  width: 40%;
  // height: auto;
  padding: 20px 10px;
  margin-top: 70px;
  position: absolute;
  bottom: 7%;
  right: 5%;
  letter-spacing: 7px;
  text-align: end;
  z-index: 3;

  h1 {
    font-size: 50px;
  }

  span {
    color: $Fontcolor-main;
    font-size: 66px;
    font-weight: bold;
  }
}

.about-puzzles-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  .c-puzzle:nth-of-type(2) {
    background-color: rgba(204, 204, 204, 0.5);
    background-color: rgba(17, 40, 56, 0.6);
    left: 3%;
    top: 0;
    width: 5%;
    height: 100%;
    // opacity: 0.5;
    transform: skewX(25deg) translateZ(0);
    transition: opacity 2.2s cubic-bezier(0.23, 1, 0.32, 1) 0.8s;
  }

  .c-puzzle:nth-of-type(3) {
    background-color: rgba(204, 204, 204, 0.5);
    background-color: rgba(17, 40, 56, 0.6);
    left: 5%;
    top: 0;
    width: 8%;
    height: 100%;
    transform: skewX(-33deg) translateZ(0);
    transition: opacity 2.2s cubic-bezier(0.23, 1, 0.32, 1) 0.8s;
  }
}
//==========================section 2===========================
.about-content-section {
  width: 100%;
  min-height: 550px;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-who-we-are {
    width: 100%;
    max-width: 1300px;
    margin: 20px 0;
    // background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

    h1 {
      position: relative;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 2rem;
      font-family: $Fontfamily-serif;
      color: $Fontcolor-second;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 50%;
        width: 13%;
        height: 6px;
        transform: translateX(-50%);
        background-color: $Fontcolor-main;
        border-radius: 10px;
      }
    }

    .wwa-content {
      display: flex;
      margin-top: 30px;

      .wwa-col {
        width: 50%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        position: relative;
        letter-spacing: 1.3px;

        .wwa-col-img {
          position: absolute;
          width: 80%;
          height: 100%;
          top: -25%;
          right: 20%;
          background-color: white;
          z-index: 10;

          img {
            width: 100%;
            min-width: 378px;
            max-height: 140%;
            object-fit: cover;
            box-shadow: 0 10px 10px rgba(56, 56, 56, 0.2),
              10px 10px 20px rgba(48, 48, 48, 0.2);
          }
        }
      }
    }
  }
}

.about-content-section3 {
  width: 100vw;
  // height: 100px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $Fontfamily-sansSerif-3;
  position: relative;
  background: $BackgroundColor-main;
  background-color: rgb(17, 40, 56);

  .about-content-wrapper3 {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // padding-bottom: 50px;
      text-align: center;
      position: relative;
      color: white;

      &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 10%;
        height: 6px;
        transform: translateX(-50%);
        background-color: $Fontcolor-main;
        border-radius: 10px;
      }

      // &::before {
      //     content: '';
      //     position: absolute;
      //     bottom: -20px;
      //     left: 5%;
      //     width: 90%;
      //     height: 1px;
      //     background-color: rgba(165, 165, 165, 0.3);
      // }

      h1 {
        margin-bottom: 10px 0;
        width: 100%;
        font-size: 2.2rem;
        letter-spacing: 2px;
        font-family: $Fontfamily-serif;
        
      }
    }

    .cards3 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;
      max-width: 1300px;

      .card3 {
        width: 300px;
        height: 370px;
        margin-top: 30px;
        // border: 1px solid black;
        // background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:hover {
          img {
            width: 80px;
          }
        }

        img {
          width: 70px;
          margin: 20px 0;
          transition: all 0.2s ease-out;
        }

        h3 {
          margin-bottom: 20px;
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
  }
}

//================section 3=======================
.about-team-section {
  width: 100%;
  min-height: 550px;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;

  .about-team-wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 50px 0;
    // background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

    h1 {
      position: relative;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 2rem;
      font-family: $Fontfamily-serif;
      color: $Fontcolor-second;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 50%;
        width: 13%;
        height: 6px;
        transform: translateX(-50%);
        background-color: $Fontcolor-main;
        border-radius: 10px;
      }
    }

    .atw-content {
      display: flex;
      margin-top: 30px;

      .atw-col {
        width: 50%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        position: relative;
        letter-spacing: 1.3px;

        .atw-col-img {
          position: absolute;
          width: 80%;
          height: 100%;
          top: -25%;
          left: 20%;
          background-color: white;
          z-index: 10;

          img {
            width: 100%;
            min-width: 378px;
            max-height: 160%;
            object-fit: cover;
            box-shadow: 0 10px 10px rgba(56, 56, 56, 0.2),
              10px 10px 20px rgba(48, 48, 48, 0.2);
          }
        }
      }
    }
  }
}
//================section 4=======================


//================section 5=======================
.about-partners-section {
  width: 100vw;
  min-height: 202px;
  position: relative;
  background-color: $BackgroundColor-main;
  // background-color: rgb(17, 40, 56);
  // color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid $BackgroundColor-main;

  .about-partners-wrapper {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 0 50px 0;

    h1 {
      font-family: $Fontfamily-serif;
      font-size: 2.2rem;
      margin-bottom: 20px;
      position: relative;
      letter-spacing: 1.3px;

      &::before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 50%;
        width: 10%;
        height: 6px;
        transform: translateX(-50%);
        background-color: $Fontcolor-main;
        border-radius: 10px;
      }
    }

    p {
      width: 80%;
      margin-top: 20px;
      letter-spacing: 1.3px;
    }
  }
}
