// .contactWrapper {
//   width: 100%;
//   height: 95vh;
//   flex-direction: column;
//   background-color: rgb(255, 255, 255);
//   color: rgb(255, 255, 255);
//   font-family: $Fontfamily-sansSerif-3;

//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 80px;
//     background-color: $BackgroundColor-dark;
//     z-index: 1;
//   }

//   // &:before {
//   //   content: '';
//   //   position: absolute;
//   //   background: rgba(163, 108, 108, 0.6);
//   //   // background-color: rgba(17, 40, 56, 0.6);
//   //   height: 100%;
//   //   // margin-top: 80px;
//   //   z-index: 0;
//   //   right: 0%;
//   //   top: 0;
//   //   width: 7%;
//   //   height: 100%;
//   //   transform: skewX(-20deg) translateZ(0);
//   //   transition: .8s ease;
//   //   z-index: 2;
//   // }

//   // &:after {
//   //   content: '';
//   //   position: absolute;
//   //   background: rgba(163, 108, 108, 0.6);
//   //   // background-color: rgba(17, 40, 56, 0.6);
//   //   height: 100%;
//   //   // margin-top: 80px;
//   //   z-index: 0;
//   //   right: 5%;
//   //   top: 0;
//   //   width: 10%;
//   //   height: 100%;
//   //   transform: skewX(30deg) translateZ(0);
//   //   transition: .8s ease;
//   //   z-index: 2;
//   // }
// }

// .contact-background {
//   position: relative;
//   width: 100vw;
//   height: 35%;
//   background-color: rgb(255, 255, 255);
//   top: 0;
//   left: 0;
//   z-index: 0;
//   margin-top: 70px;
//   // box-shadow: 0 10px 10px rgba(56, 56, 56, 0.2),
//   // 10px 10px 20px rgba(48, 48, 48, 0.2);

//   &::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 13, 41, 0.1);
//     z-index: 1;
//   }

//   img {
//     width: 70%;
//     height: 100%;
//     object-fit: cover;
//     position: relative;
//   }
// }

// .contact-address-wrapper {
//   height: 65%;
//   width: 100%;
//   background-color: $BackgroundColor-dark;

//   .address {
//     width: 100%;
//     height: 55%;
//     // max-width: 1000px;
//     background-color: $BackgroundColor-dark;
//     margin: 0 auto;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     // position: relative;
//     // box-shadow: 0 10px 10px rgba(56, 56, 56, 0.2),
//     // 10px 10px 20px rgba(48, 48, 48, 0.2);

//     .links {
//       height: 100%;
//       width: 50%;
//       max-width: 500px;
//       // background-color: green;
//       display: flex;
//       align-items: center;
//       justify-content: center;

//       ul {
//         font-size: 1.2rem;
//         padding: 20px 20px;
//       }
//     }

//     .links ul li {
//       list-style: none;
//       text-decoration: none;
//       // margin: 3px;
//       letter-spacing: 1.3px;

//       a {
//         color: rgb(197, 197, 197) !important;
//         text-decoration: none;

//         &:hover {
//           color: $Fontcolor-main !important;
//         }
//       }

//       span {
//         color: rgb(197, 197, 197);
//       }

//       p {
//         margin: 0;
//         font-weight: bold;
//       }
//     }

//     .address-country {
//         color: $Fontcolor-main;
//         font-size: 1.3rem;
//         font-weight: bold;
//     }
//   }
// }

// // .address-contact-us {
// //   width: 100%;
// //   height: 50%;
// //   background-color: rgb(245, 245, 245);
// //   color: black;
// //   text-align: center;
// //   display: flex;
// //   justify-content: center;
// //   align-items: center;

// //   button {
// //     width: 210px;
// //     height: 40px;
// //     border-radius: 10px;
// //     border: none;
// //     outline: none;
// //     border-style: none;
// //     font-size: 1.4rem;
// //     text-transform: uppercase;
// //     font-weight: bolder;
// //     background-color: rgb(17, 40, 56);
// //     color: white;
// //     border: none;
// //     margin-top: 20px;

// //     &:hover {
// //         font-size: 1.5rem;
// //         background-color: rgb(17, 40, 56);
// //         color: white;
// //         border: none;
// //     }
// //   }
// // }

// .address-contact-us {
//   width: 100%;
//   height: 45%;
//   background-color: $BackgroundColor-second;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   box-shadow: inset 0 0 .5em rgb(155, 155, 155);

//   h1 {
//       font-family: $Fontfamily-serif;
//       color: black;

//     svg{
//         color: $Fontcolor-main;
//         // color: rgb(17, 40, 56);
//         font-size: 1.6rem;
//     }
//   }

//   button {
//       width: 210px;
//       height: 40px;
//       border-radius: 10px;
//       border: none;
//       outline: none;
//       border-style: none;
//       font-size: 1.4rem;
//       text-transform: uppercase;
//       font-weight: bolder;
//       background-color: rgb(17, 40, 56);
//       color: white;
//       border: none;
//       margin-top: 20px;

//       &:hover {
//           font-size: 1.5rem;
//           background-color: rgb(17, 40, 56);
//           color: white;
//           border: none;
//       }
//   }
// }

//=======================

// .contactWrapper {
//   width: 100%;
//   height: 95vh;
//   // background-color: red;
//   background-image: url("../img/world-map.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
//   justify-content: center;
//   align-items: center;
// //   font-family: $Fontfamily-sansSerif-2;

//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 80px;
//     background-color: rgba(17,40,56, 0.9);
//     z-index: 1;
//   }
// }

// .contact-container {
//   width: 100%;
//   height: 90%;
//   max-width: 1400px;
//   max-height: 600px;
//   margin-top: 70px;
//   // background-color: green;
// //   border: 2px solid grey;
//   display: flex;
// }

//   .contact-address-us {
//     width: 100%;
//     height: 50%;
//   }

//   .contact-address-pl {
//     width: 100%;
//     height: 50%;
//   }

//   .address-content {
//     width: auto;
//     height: 100%;
//     margin: 0 auto;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .country-name {
//         color: $Fontcolor-main;
//         font-size: 1.3rem;
//         font-weight: bold;
//     }

//     ul {
//         width: 300px;
//     }

//     ul li {
//       list-style: none;
//       text-decoration: none;
//       padding: 2px;
//       letter-spacing: 1.3px;

//       p {
//           margin: 0;
//           font-weight: bold;
//       }

//       span {
//         color: $Fontcolor-main;
//       }
//     }
//   }

// .contact-right-col {
//   width: 50%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .form-container {
//     width: 70%;
//     height: 90%;

//     button {
//       width: 210px;
//       height: 40px;
//       border-radius: 10px;
//       border: none;
//       outline: none;
//       border-style: none;
//       font-size: 1.4rem;
//       text-transform: uppercase;
//       font-weight: bolder;
//       background-color: rgb(17, 40, 56);
//       color: white;
//       border: none;
//       margin-top: 20px;

//       &:hover {
//           font-size: 1.5rem;
//           background-color: rgb(17, 40, 56);
//           color: white;
//           border: none;
//       }
//   }
//   }
// }

.contactWrapper {
  width: 100%;
  height: 95vh;
  // background-color: red;
  background-image: url("../img/world-map.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
  align-items: center;

  
  @include mq(991px) {
    background-position: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(17, 40, 56, 0.9);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 75vh;
    // z-index: 10;
    background-color: rgba(68, 68, 68, 0.1);
  }
}

.contact-content-container {
  width: 100%;
  height: 20vh;
  background-color: rgb(248, 248, 248);
  position: absolute;
  bottom: 0;
  left: 0;
  // text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100vw;
    height: 20px;
    // z-index: 10;
    background-color: white;
  }
}

.contact-container {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  // background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.address-content {
  width: auto;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $Fontfamily-sansSerif-3;

  .country-name {
    color: $Fontcolor-main;
    color: $Fontcolor-second;
    font-size: 1.3rem;
    font-weight: bold;
  }

  ul {
    width: 300px;
  }

  ul li {
    list-style: none;
    text-decoration: none;
    padding: 2px;
    letter-spacing: 1.3px;

    p {
      margin: 0;
      font-weight: bold;
    }

    span {
      color: $Fontcolor-main;
    }
  }
}

.form-container {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: $Fontfamily-serif;
    font-size: 1.8rem;

    @include mq(991px) {
      font-size: 2rem;
    }
  }

  button {
    width: 210px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    border-style: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: rgb(17, 40, 56);
    color: white;
    border: none;
    margin-top: 20px;

    &:hover {
      font-size: 1.5rem;
      background-color: rgb(17, 40, 56);
      color: white;
      border: none;
    }
  }
}
