.contactWrapper {
  width: 100%;
  height: 95vh;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: $Fontfamily-sansSerif-3;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: $BackgroundColor-dark;
    z-index: 1;
  }



  // &:before {
  //   content: '';
  //   position: absolute;
  //   background: rgba(163, 108, 108, 0.6);
  //   // background-color: rgba(17, 40, 56, 0.6);
  //   height: 100%;
  //   // margin-top: 80px;
  //   z-index: 0;
  //   right: 0%;
  //   top: 0;
  //   width: 7%;
  //   height: 100%;
  //   transform: skewX(-20deg) translateZ(0);
  //   transition: .8s ease;
  //   z-index: 2;
  // }

  // &:after {
  //   content: '';
  //   position: absolute;
  //   background: rgba(163, 108, 108, 0.6);
  //   // background-color: rgba(17, 40, 56, 0.6);
  //   height: 100%;
  //   // margin-top: 80px;
  //   z-index: 0;
  //   right: 5%;
  //   top: 0;
  //   width: 10%;
  //   height: 100%;
  //   transform: skewX(30deg) translateZ(0);
  //   transition: .8s ease;
  //   z-index: 2;
  // }
}

.contact-background {
  position: relative;
  width: 100vw;
  height: 35%;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  z-index: 0;
  margin-top: 70px;
  // box-shadow: 0 10px 10px rgba(56, 56, 56, 0.2),
  // 10px 10px 20px rgba(48, 48, 48, 0.2);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 13, 41, 0.1);
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
}

.contact-address-wrapper {
  height: 65%;
  width: 100%;
  background-color: $BackgroundColor-dark;
  

  .address {
    width: 100%;
    height: 55%;
    // max-width: 1000px;
    background-color: $BackgroundColor-dark;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // position: relative;
    // box-shadow: 0 10px 10px rgba(56, 56, 56, 0.2),
    // 10px 10px 20px rgba(48, 48, 48, 0.2);

    .links {
      height: 100%;
      width: 50%;
      max-width: 500px;
      // background-color: green;
      display: flex;
      align-items: center;
      justify-content: center;


      ul {
        font-size: 1.2rem;
        padding: 20px 20px;
      }
    }

    .links ul li {
      list-style: none;
      text-decoration: none;
      // margin: 3px;
      letter-spacing: 1.3px;

      a {
        color: rgb(197, 197, 197) !important;
        text-decoration: none;

        &:hover {
          color: $Fontcolor-main !important;
        }
      }

      span {
        color: rgb(197, 197, 197);
      }

      p {
        margin: 0;
        font-weight: bold;
      }
    }

    .address-country {
        color: $Fontcolor-main;
        font-size: 1.3rem;
        font-weight: bold;
    }
  }
}

// .address-contact-us {
//   width: 100%;
//   height: 50%;
//   background-color: rgb(245, 245, 245);
//   color: black;
//   text-align: center;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   button {
//     width: 210px;
//     height: 40px;
//     border-radius: 10px;
//     border: none;
//     outline: none;
//     border-style: none;
//     font-size: 1.4rem;
//     text-transform: uppercase;
//     font-weight: bolder;
//     background-color: rgb(17, 40, 56);
//     color: white;
//     border: none;
//     margin-top: 20px;
  
//     &:hover {
//         font-size: 1.5rem;
//         background-color: rgb(17, 40, 56);
//         color: white;
//         border: none;
//     }
//   }
// }



.address-contact-us {
  width: 100%;
  height: 45%;
  background-color: $BackgroundColor-second;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 .5em rgb(155, 155, 155);


  h1 {
      font-family: $Fontfamily-serif;
      color: black;
      
    svg{
        color: $Fontcolor-main;
        // color: rgb(17, 40, 56);
        font-size: 1.6rem;
    }
  }

  button {
      width: 210px;
      height: 40px;
      border-radius: 10px;
      border: none;
      outline: none;
      border-style: none;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: bolder;
      background-color: rgb(17, 40, 56);
      color: white;
      border: none;
      margin-top: 20px;

      &:hover {
          font-size: 1.5rem;
          background-color: rgb(17, 40, 56);
          color: white;
          border: none;
      }
  }
}